MONGODB_URI=

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

NEXT_PUBLIC_APPWRITE_ENDPOINT=
NEXT_PUBLIC_APPWRITE_PROJECT_ID=
NEXT_PUBLIC_APPWRITE_DATABASE_ID=
APPWRITE_USER_COLLECTION_ID=
NEXT_PUBLIC_APPWRITE_PROJECT=

NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=

AWS_REGION=
AWS_LOCATION_INDEX_NAME=
